.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0;
    background-color: #CED3CD;
    justify-content: center;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 200px;
}

.staysName {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: #C5B496;
    padding: 30px;
    border-radius: 40px 0 40px 0;
    width: 70vw;
}

.component > img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    filter: brightness(70%);
}

.activityDetails {
    background-color: #33626C;
    width: 80vw;
    border-radius: 40px 0 40px 0;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activityDetails > p {
    font-family: "Zen Loop", cursive;
    font-size: 26px;
}

.dateTime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dateTimeLike {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.heartWrapper {
    background-color: #FFFFFF2E;
    padding: 10px 15px;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
}
