.btnFrontPage {
    margin: 20px;
    padding: 15px 60px;
    background-color: #ffffff16;
    border: 1px solid #fff;
    border-radius: 40px 0 40px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}