.sectionText {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: #33626C;
    padding: 50px;
}

.sectionText > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

