.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/forside.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(34, 42, 64, 0.516);
  background-blend-mode: hue;
  height: 60vh;
}

img {
  width: 72px;
}
