.footer {
    background-color: #2A4F57;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logoText {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}