@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  color: white;
  background-color: #CED3CD;
}

h1, h2, h3, h4, h5 {
  font-family: "Zen Loop", cursive;
  font-weight: 500;
}

h1 {font-size: 60px;}
h2 {font-size: 50px;}
h3 {font-size: 40px;}
h4 {font-size: 30px;}

#root {
  text-align: center;
}